{% extends "base.html" %}
{% block head %}
<link rel="stylesheet prefetch" href="/themes/uiuctf-2023-ctfd-theme/static/windows-95-ui-kit/css/bootstrap.min.css">
<link rel="stylesheet prefetch" href="/themes/uiuctf-2023-ctfd-theme/static/windows-95-ui-kit/css/w95.css">
<script src="//daybrush.com/moveable/release/latest/dist/moveable.min.js"></script>

<style>
  .moveable-control-box {
    visibility: hidden !important;
  }
</style>

<script type="text/javascript">
  document.addEventListener('alpine:init', () => {
    Alpine.data('idk', () => ({
      init() {
        // https://daybrush.com/moveable/storybook/index.html?path=/story/basic--basic-draggable
        this.$refs.dragme.style.transform = localStorage.getItem("idk-window-position") || "translate(0px, 0px)";

        (new Moveable(document.body, {
            target: this.$refs.dragme,
            dragTarget: this.$refs.dragmehandle,
            draggable: true,
            throttleDrag: 1,
            edgeDraggable: false,
            startDragRotate: 0,
            throttleDragRotate: 0,
        })).on("drag", e => {
          localStorage.setItem("idk-window-position", e.transform);
          e.target.style.transform = e.transform;
        });
      }
    }))
  })
</script>
{% endblock %}

{% block page %}

<div class="min-vh-100 d-flex flex-column bg-info">
  <main class="d-flex flex-grow-1 w-100 flex-column" x-data="idk">
    <div class="d-flex align-self-center justify-content-center container">
      <div class="col-12 col-md-6 col-lg-8 mb-4 mb-lg-0">
        <!-- <div class="jumbotron"   >
          <div class="container"  >
            <h1>Challenges</h1>
          </div>
        </div> -->

        <div class="card card-tertiary" x-ref="dragme" x-ref="dragmehandle">
          <!-- <div>hi</div> -->
          <div class="card-header d-flex flex-row justify-content-between align-items-center" x-ref="dragmehandle">
            <span>Challenges</span>
          </div>
          <div class="row">
            <div class="col-md-12" >
              {% include "components/errors.html" %}
            </div>
          </div>

          <div 
            x-data="ChallengeBoard" style="margin: 20px"
            @load-challenges.window="loadChallenges()" 
            @load-challenge.window="loadChallenge($event.detail)"
          >
            <div
                x-ref="challengeWindow" id="challenge-window" class="modal fade" tabindex="-1" role="dialog" x-data=""
                x-html="$store.challenge.data.view"
            ></div>

            <div x-show="!loaded">
              <div class="min-vh-50 d-flex align-items-center">
                <div class="text-center w-100">
                  <i class="fas fa-circle-notch fa-spin fa-3x fa-fw spinner"></i>
                </div>
              </div>
            </div>

            <div x-show="loaded">
              <template x-for="(category, idx) in getCategories()" :key="idx">
                <div class="pt-4">
                  <div class="category-header mb-3" style="border-bottom: 1px solid #aaa;">
                    <h6 x-text="category" style="padding:2px;"></h6>
                  </div>

                  <div class="category-challenges d-flex flex-column">
                    <div class="challenges-row row">
                      <template x-for="(c, idx) in getChallenges(category)" :key="c.id">
                        <div class="col-6 col-md-4 col-lg-3" style="justify-items: center">
                          <button style="max-height: 100px; border: 2px" btn w-100 text-truncate my-3
                              :class="c.solved_by_me ? 'challenge-solved' : ''"
                              :value="c.id" @click="loadChallenge(c.id)"
                              >
                              <img src="https://win98icons.alexmeub.com/icons/png/entire_network_globe-0.png" alt="buttonpng" border="0" >
                              <!-- class="challenge-button btn btn-dark w-100 text-truncate my-3"
                              :class="c.solved_by_me ? 'challenge-solved' : ''"
                              :value="c.id" @click="loadChallenge(c.id)" -->
                          </button>
                            <div class="challenge-inner my-3">
                              <p x-text="c.name"></p>
                              <span style="font-size:10px" x-text="c.value"></span>
                            </div>
                          </button>
                        </div>
                      </template>
                    <!-- </div> -->
                  </div>
                </div>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}




{% block scripts %}
  {{ Assets.js("assets/js/challenges.js") }}
{% endblock %}