{% extends "base.html" %}

{% block head %}
<link rel="stylesheet prefetch" href="/themes/uiuctf-2023-ctfd-theme/static/windows-95-ui-kit/css/bootstrap.min.css">
<link rel="stylesheet prefetch" href="/themes/uiuctf-2023-ctfd-theme/static/windows-95-ui-kit/css/w95.css">
<script src="//daybrush.com/moveable/release/latest/dist/moveable.min.js"></script>

<style>
  .moveable-control-box {
    visibility: hidden !important;
  }

  .sidebar-img {
    max-height: 400px;
  }
</style>

<script type="text/javascript">
  document.addEventListener('alpine:init', () => {
    Alpine.data('register', () => ({
      init() {
        // https://daybrush.com/moveable/storybook/index.html?path=/story/basic--basic-draggable
        this.$refs.dragme.style.transform = localStorage.getItem("register-window-position") || "translate(0px, 0px)";

        (new Moveable(document.body, {
            target: this.$refs.dragme,
            dragTarget: this.$refs.dragmehandle,
            draggable: true,
            throttleDrag: 1,
            edgeDraggable: false,
            startDragRotate: 0,
            throttleDragRotate: 0,
        })).on("drag", e => {
          localStorage.setItem("register-window-position", e.transform);
          e.target.style.transform = e.transform;
        });
      }
    }))
  })
</script>
{% endblock head %}

{% block page %}
<div class="min-vh-100 d-flex flex-column bg-info">
  <main class="d-flex flex-grow-1 w-100 flex-column" x-data="register">
    <div class="d-flex align-self-center justify-content-center container">
      <div class="col-12 col-md-6 col-lg-8 mb-4 mb-lg-0">
        <div class="card card-tertiary" x-ref="dragme">
          <div class="card-header d-flex flex-row justify-content-between align-items-center" x-ref="dragmehandle">
            <span>Add New User</span>
          </div>
          {% include "components/errors.html" %}

          {% if integrations.mlc() %}
            <a class="btn btn-secondary btn-lg btn-block w-100" href="{{ url_for('auth.oauth_login') }}">
              Login with Major League Cyber
            </a>
  
            <hr>
          {% endif %}
  
          {% with form = Forms.auth.RegistrationForm() %}
  
            {% from "macros/forms.html" import render_extra_fields %}
  
            <form method="post" accept-charset="utf-8" autocomplete="off" role="form">
  
              <div class="row">
                <div class="col-4">
                  <img class="img-fluid sidebar-img" src="/themes/uiuctf-2023-ctfd-theme/static/img/register-sidebar.jpg">
                </div>
                <div class="col-8 pt-2">
                  <p> Enter the basic information for the new user. </p>

                  <div class="row px-2 my-1">
                    <div class="col-3">
                      <b>{{ form.name.label(class="form-label") }}</b>
                    </div>
                    <div class="col d-flex flex-column">
                      {{ form.name(class="form-control", value=name) }}
                      <small class="font-xsmall text-muted">
                        Your username on the site
                      </small>
                    </div>
                  </div>
                  <div class="row px-2 my-1">
                    <div class="col-3">
                      <b>{{ form.email.label(class="form-label") }}</b>
                    </div>
                    <div class="col d-flex flex-column">
                      {{ form.email(class="form-control", value=email) }}
                      <small class="font-xsmall text-muted">
                        Never shown to the public
                      </small>
                    </div>
                  </div>
                  <div class="row px-2 my-1">
                    <div class="col-3">
                      <b>{{ form.password.label(class="form-label") }}</b>
                    </div>
                    <div class="col d-flex flex-column">
                      {{ form.password(class="form-control", value=password) }}
                      <small class="font-xsmall text-muted">
                        Password used to log into your account
                      </small>
                    </div>
                  </div>
                  <div class="row">
                    <p><br><br>To continue, click Next.</p>
                  </div>
                  {{ form.nonce() }}
      
                  {{ render_extra_fields(form.extra) }}
                </div>
              </div>
              <hr class="py-0 my-0">
              <div class="row my-3 px-2">
                <div class="d-flex flex-row justify-content-end">
                  <button class="btn btn-md btn-primary" disabled>
                    <span>< Back</span>
                  </button>
                  <button class="btn btn-md btn-primary" id="_submit" name="_submit" value="Submit">
                    <span>Next ></span>
                  </button>
                </div>
              </div>
  
              {% if Configs.tos_or_privacy %}
                <div class="row py-2">
                  <div class="col-md-12 text-center">
                    <small class="text-muted text-center">
                      By registering, you agree to the
                      <a href="{{ Configs.privacy_link }}" rel="noopener" target="_blank">privacy policy</a>
                      and <a href="{{ Configs.tos_link }}" rel="noopener" target="_blank">terms of service</a>
                    </small>
                  </div>
                </div>
              {% endif %}
            </form>
          {% endwith %}
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}

{% block scripts %}
  {{ Assets.js("assets/js/register.js") }}
{% endblock %}