{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet prefetch" href="/themes/uiuctf-2023-ctfd-theme/static/windows-95-ui-kit/css/bootstrap.min.css">
  <link rel="stylesheet prefetch" href="/themes/uiuctf-2023-ctfd-theme/static/windows-95-ui-kit/css/w95.css">
  <script src="//daybrush.com/moveable/release/latest/dist/moveable.min.js"></script>

  <style>
    .start-menu {
      position: absolute;
      bottom: 38px;
      height: 300px;
      width: 150px;
      background-color: red;
    }

    .moveable-line {
      height: 15px !important;
      opacity: 0 !important;
    }

    .moveable-control {
      opacity: 0 !important;
    }

    .window {
      /* resize: both; */
      overflow: auto;
      position: absolute;
      top: 0;
      left: 0;
    }
  </style>

  <script type="text/javascript">
    document.addEventListener('alpine:init', () => {
      Alpine.data('mydata', () => ({
        init() {
          // Alpine data init sorta funka doe
          // if we set custom data how does that work
          const refs = [
            // this.$refs.windowChallenges,
            this.$refs.windowLeaderboard
          ]
          // const refs = [].slice.call(this.$refs.desktop.children)
          function MoveableWindow(target, dragTarget) {
            const moveable = new Moveable(document.body, {
              target: target,
              dragTarget: dragTarget,
              draggable: true,
              throttleDrag: 1,
              edgeDraggable: false,
              startDragRotate: 0,
              throttleDragRotate: 0,
              edge: true,

              resizable: true,
              throttleResize: 1,
              keepRatio: false,
              renderDirections: ["nw", "ne", "se", "sw"],
            })
            moveable.on("drag", e => {
              e.target.style.transform = e.transform;
            });
            moveable.on("dragStart", e => {
              refs.forEach(ref => {
                console.log('ref is', ref)
                ref.style.zIndex = ref.style.zIndex > 1 ? ref.style.zIndex - 1 : 0;
              })
              e.target.style.zIndex = 100;
            });
            moveable.on("resize", e => {
              e.target.style.width = `${e.width}px`;
              e.target.style.height = `${e.height}px`;
              e.target.style.transform = e.transform;
            });
            moveable.on("resizeStart", e => {
              refs.forEach(ref => {
                ref.style.zIndex = ref.style.zIndex > 1 ? ref.style.zIndex - 1 : 0;
              })
              e.target.style.zIndex = 100;
            });
            moveable.on("click", e => {
              refs.forEach(ref => {
                console.log('ref is', ref)
                ref.style.zIndex = ref.style.zIndex > 1 ? ref.style.zIndex - 1 : 0;
              })
              e.target.style.zIndex = 100;
            });
            return moveable;
          }
          MoveableWindow(this.$refs.windowChallenges, this.$refs.windowChallengesHandle)
          MoveableWindow(this.$refs.windowLeaderboard, this.$refs.windowLeaderboardHandle)
        }
      }))
    })
  </script>
{% endblock head %}
<!-- End base -->

{% block page %}
  <!-- <div class="jumbotron">
    <div class="container">
      <h1>Challenges</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% include "components/errors.html" %}
      </div>
    </div>

    <div 
      x-data="ChallengeBoard" 
      @load-challenges.window="loadChallenges()" 
      @load-challenge.window="loadChallenge($event.detail)"
    >
      <div
          x-ref="challengeWindow" id="challenge-window" class="modal fade" tabindex="-1" role="dialog" x-data=""
          x-html="$store.challenge.data.view"
      ></div>

      <div x-show="!loaded">
        <div class="min-vh-50 d-flex align-items-center">
          <div class="text-center w-100">
            <i class="fas fa-circle-notch fa-spin fa-3x fa-fw spinner"></i>
          </div>
        </div>
      </div>

      <div x-show="loaded">
        <template x-for="(category, idx) in getCategories()" :key="idx">
          <div class="pt-5">
            <div class="category-header mb-3">
              <h3 x-text="category"></h3>
            </div>

            <div class="category-challenges d-flex flex-column">
              <div class="challenges-row row">
                <template x-for="(c, idx) in getChallenges(category)" :key="c.id">
                  <div class="col-sm-6 col-md-4 col-lg-3">
                    <button
                        class="challenge-button btn btn-dark w-100 text-truncate my-3"
                        :class="c.solved_by_me ? 'challenge-solved' : ''"
                        :value="c.id" @click="loadChallenge(c.id)"
                    >

                      <div class="challenge-inner my-3">
                        <p x-text="c.name"></p>
                        <span x-text="c.value"></span>
                      </div>
                    </button>
                  </div>
                </template>
              </div>
            </div>
          </div>
        </template>
      </div>
    </div>
  </div> -->
  <div class="min-vh-100 d-flex flex-column bg-info" x-data="mydata">
    <main class="d-flex flex-grow-1 w-100 flex-column" x-ref="desktop">
      <!-- Home screen -->
      <section class="d-flex bg-secondary w-100">

        <!-- Challenges window -->
          <div class="card card-tertiary window" x-ref="windowChallenges" x-data="{ pane: true }" x-show="pane" x:on:pane-challenges="pane = !pane">
            <div class="card-header d-flex flex-row justify-content-between user-select-none align-items-center" x-ref="windowChallengesHandle">
              <span  :class="{ 'active': pane }">Challenges</span>
              <span class="close-icon btn btn-sm btn-primary px-2 py-1" x:on:click="pane = false">
                <img src="/themes/uiuctf-2023-ctfd-theme/static/img/close-icon.png" alt="">
            </span>
            </div>
            <div class="card-body">
              <span>Test</span>
            </div>
          </div>

        <!-- Leaderboard window -->
          <div class="card card-tertiary window" x-ref="windowLeaderboard" style="top: 50px; left: 50px;">
            <div class="card-header text-center user-select-none" x-ref="windowLeaderboardHandle">
              <span>Leaderboard</span>
            </div>
            <div class="card-body">
              <span>Test</span>
            </div>
          </div>

      </section>
    </main>
    <footer class="d-flex position-relative">
      <div class="start-menu">
        <p>Hi</p>
      </div>

      <nav class="navbar navbar-main navbar-expand-lg navbar-dark justify-content-between navbar-footer" x-data="{}">
        <ul class="navbar-nav navbar-nav-hover flex-row">
          <li class="nav-item">
            <a href="index.html" class="nav-link" role="button">
              <span class="nav-link-inner-text">📺 Start</span>
            </a>
          </li>
          <li id="start-nav_challenges" class="nav-item">
            <a class="nav-link" role="button" x:on:click="$dispatch('pane-challenges')">
              <span class="nav-link-inner-text">🔐 Challenges</span>
            </a>
          </li>
          <li id="start-nav_scoreboard" class="nav-item">
            <a href="scoreboard.html" class="nav-link" role="button">
              <span class="nav-link-inner-text">📈 Scoreboard</span>
            </a>
          </li>
          <li id="start-nav_info" class="nav-item">
            <a href="#" class="nav-link" role="button">
              <span class="nav-link-inner-text">ℹ️ Info</span>
            </a>
          </li>
          <li id="start-nav_account" class="nav-item">
            <a href="#" class="nav-link" role="button">
              <span class="nav-link-inner-text">My Account</span>
            </a>
          </li>
        </ul>
        <div class="time text-center">9:12 pm</div>
      </nav>
    </footer>
  </div>
{% endblock %}

{% block scripts %}
  {{ Assets.js("assets/js/challenges.js") }}
{% endblock %}
