{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet prefetch" href="/themes/uiuctf-2023-ctfd-theme/static/windows-95-ui-kit/css/bootstrap.min.css">
  <link rel="stylesheet prefetch" href="/themes/uiuctf-2023-ctfd-theme/static/windows-95-ui-kit/css/w95.css">
  <script src="//daybrush.com/moveable/release/latest/dist/moveable.min.js"></script>

  <style>
    .start-menu {
      position: absolute;
      bottom: 38px;
      height: 300px;
      width: 150px;
      background-color: red;
    }

    .moveable-line {
      height: 15px !important;
      opacity: 0 !important;
    }

    .moveable-control {
      opacity: 0 !important;
    }

    .pane {
      overflow: auto;
      position: absolute;
      top: 0;
      left: 0;
    }

    .pane-control-icon {
      image-rendering: pixelated;
      user-select: none;
    }
    .pane-control-icon > img {
      pointer-events: none;
      display: none;
      height: 0.875rem;
    }
    .pane-control-icon > img:first-child {
      display: block;
    }
    .pane-control-icon:active > img:first-child {
      display: none;
    }
    .pane-control-icon:active > img:last-child {
      display: block;
    }
    .close-icon {
      margin-left: 0.125rem;
    }
  </style>

  
  <script type="text/javascript">
    document.addEventListener('alpine:init', () => {
      // Alpine.store("desktop-panes", {
      //   panes: Alpine.$persist([])
      // })
      Alpine.data('mydata', () => ({
        init() {
          // TODO: Move classes into a separate JS file
          class PaneState {
            constructor(id, target, handle, maximized=false, minimized=false) {
              const target_xref = target.getAttribute("x-ref")
              this.id = id; // this must be unique within a Desktop
              this.target = target;
              this.handle = handle;
              this.desktop = null; // populated by Desktop.add

              this.transform = "translate(0px, 0px)";
              this.z = 0;
              // this.width = target.offsetWidth;
              this.width = 500;
              this.height = 500;
              this.minimized = minimized;
              this.maximized = maximized;
              this.focused = false;

              this.moveable = new Moveable(document.body, {
                target: target,
                dragTarget: handle,

                draggable: true,
                throttleDrag: 1,
                edgeDraggable: false,
                startDragRotate: 0,
                throttleDragRotate: 0,
                edge: true,
                origin: false,

                resizable: true,
                throttleResize: 1,
                keepRatio: false,
                renderDirections: ["nw", "ne", "se", "sw"],
              });
              this.moveable.on("drag", e => {
                e.target.style.transform = e.transform;
                if (this.maximized) {
                  this.maximized = false;
                  this.render()
                }
              });
              this.moveable.on("resize", e => {
                e.target.style.transform = e.transform;
                e.target.style.width = `${e.width}px`;
                e.target.style.height = `${e.height}px`;
                if (this.maximized) {
                  this.maximized = false;
                  this.render()
                }
              });
              this.moveable.on("dragStart", e => {
                this.desktop.bringToFront(this.target);
              });
              this.moveable.on("resizeStart", e => {
                this.desktop.bringToFront(this.target);
              });
              this.moveable.on("dragEnd", e => {
                // This event is fired when the window is maximized, and we don't want to store the new (0, 0) position in state.
                if (!this.maximized) {
                  this.transform = e.target.style.transform;
                }
                this.desktop.storeStates();
              });
              this.moveable.on("resizeEnd", e => {
                this.transform = e.target.style.transform;
                this.width = e.target.style.width;
                this.height = e.target.style.height;
                this.desktop.storeStates();
              });
              // If any part of the pane is clicked, bring it to the front
              this.target.addEventListener("click", () => {
                this.desktop.bringToFront(this.target);
              });
              // Maximize/restore on handle double click
              this.handle.addEventListener("dblclick", () => {
                this.maximized = !this.maximized;
                this.render();
                this.desktop.storeStates();
              });
              // Minimize buttons
              console.log(this.target.querySelectorAll("div[x-ref='minimize']"))
              this.target.querySelectorAll("div[x-ref='minimize']").forEach(
                elem => elem.addEventListener("click", () => {
                  this.setMinimized(true);
                })
              )
              // Maximize buttons
              this.target.querySelectorAll("div[x-ref='maximize']").forEach(
                elem => elem.addEventListener("click", () => {
                  this.setMaximized(true);
                })
              )
              // Restore buttons
              this.target.querySelectorAll("div[x-ref='restore']").forEach(
                elem => elem.addEventListener("click", () => {
                  this.setMaximized(false);
                })
              )
              // Close buttons
              // this.target.querySelectorAll("[x-ref='close']").forEach(
              //   elem => elem.addEventListener("click", () => {
              //     this.desktop.panes = this.desktop.panes.filter(p => p !== this);
              //     this.target.remove();
              //     this.desktop.storeStates();
              //   })
              // )
              // Swap maximize/restore buttons on maximize-restore-group
              this.target.querySelectorAll("[x-ref='maximize-restore-group']").forEach(
                elem => elem.addEventListener("click", () => {
                  const button_maximize = elem.querySelector("[x-ref='maximize']");
                  const button_restore = elem.querySelector("[x-ref='restore']");
                  if (this.maximized) {
                    button_maximize.style.display = "none";
                    button_restore.style.display = "block";
                  } else {
                    button_maximize.style.display = "block";
                    button_restore.style.display = "none";
                  }
                })
              )
            }

            /**
             * Generate JSON representation of the pane's state for storing
             * @returns {object} JSON object representing the state of the pane
             */
            toJSON() {
              return {
                id: this.id,
                transform: this.transform,
                z: this.z,
                width: this.width,
                height: this.height,
                minimized: this.minimized,
                maximized: this.maximized,
                focused: this.focused
              }
            }

            /**
             * Assignment operator that restores the state of the pane from a JSON object
             * @param {object} other JSON object to restore from
             */
            restore(other) {
              //if (this.id !== other.id) return; // necessary?
              this.transform = other.transform;
              this.z = other.z;
              this.width = other.width;
              this.height = other.height;
              this.minimized = other.minimized;
              this.maximized = other.maximized;
              this.focused = other.focused;
              this.render();
            }

            /**
             * Sets the z-index of the pane and updates the DOM
             * @param {number} value Z-index to set
             */
            setZ(value) {
              this.z = value;
              this.render();
            }

            /**
             * Sets the minimized state of the pane and updates the DOM
             * @param {boolean} value True if pane should be hidden, false to use previous state
             */
            setMinimized(value) {
              this.minimized = value;
              this.render();
              this.desktop.storeStates();
            }
            
            /**
             * Sets the maximized state of the pane and updates the DOM
             * @param {boolean} value True if pane should be maximized, false to use previous state
             */
            setMaximized(value) {
              this.maximized = value;
              this.render();
              this.desktop.storeStates();
            }

            /**
             *  Updates the DOM to reflect the current state of the pane
             */
            render() {
              // Set z-indices of pane and moveable controls
              this.target.style.zIndex = this.z;
              this.moveable.selfElement.style.zIndex = this.z;
              // Set color of focused pane handle
              if (this.focused) {
                this.target.classList.add("card-tertiary");
              } else {
                this.target.classList.remove("card-tertiary");
              }
              // Swap maximize/restore buttons
              this.target.querySelectorAll("[x-ref='maximize-restore-group']").forEach(
                elem => {
                  const button_maximize = elem.querySelector("[x-ref='maximize']");
                  const button_restore = elem.querySelector("[x-ref='restore']");
                  if (this.maximized) {
                    button_maximize.style.display = "none";
                    button_restore.style.display = "block";
                  } else {
                    button_restore.style.display = "none";
                    button_maximize.style.display = "block";
                  }
                }
              )
              if (this.maximized) {
                this.target.style.transform = `translate(0px, 0px)`;
                this.target.style.width = "100%";
                this.target.style.height = "100%";
              } else {
                this.target.style.transform = this.transform;
                this.target.style.width = this.width;
                this.target.style.height = this.height;
              }
              if (this.minimized) {
                this.target.style.display = "none";
              } else {
                this.target.style.display = "block";
              }
              this.moveable.updateRect();
            }
          }

          class Desktop {
            constructor(id) {
              this.id = id;
              this.panes = [];
              this.z_next = 1000;
            }

            add(pane) {
              pane.desktop = this;
              pane.setZ(this.z_next);
              this.z_next += 1;
              this.panes.push(pane);
            }

            bringToFront(pane_target) {
              const idx = this.panes.findIndex(p => p.target === pane_target);
              if (idx < 0) return;
              const pane = this.panes[idx]
              const pane_z_old = pane.z;
              // Find all panes with z-index > pane_z_old and decrement them
              this.panes.forEach(p => {
                p.focused = false;
                if (p.z > pane_z_old) p.setZ(p.z - 1);
              })
              // Set new active pane to top
              pane.focused = true;
              pane.setZ(this.z_next - 1);
            }

            storeStates() {
              localStorage.setItem(`desktop-${this.id}`, JSON.stringify(this.panes));
            }

            restoreStates() {
              const saved_panes = JSON.parse(localStorage.getItem(`desktop-${this.id}`));
              if (saved_panes) {
                saved_panes.forEach(saved_pane => {
                  const pane = this.panes.find(pane => pane.id === saved_pane.id);
                  if (pane) pane.restore(saved_pane);
                })
              }
            }
          }

          // 1. Create default Desktop and add PaneStates
          this.desktop = new Desktop("index");
          this.desktop.add(new PaneState("challenges", this.$refs.paneChallenges, this.$refs.paneChallengesHandle));
          this.desktop.add(new PaneState("scoreboard", this.$refs.paneScoreboard, this.$refs.paneScoreboardHandle));
          // ...
          // 2. restore states from localStorage
          this.desktop.restoreStates();
        },

        setMinimized(pane_id, state) {
          this.desktop.panes.forEach(p => {
            console.log(p)
            if (p.id === pane_id) {
              p.setMinimized(false);
            }
          })
        }
      }))
    })
  </script>
{% endblock head %}
<!-- End base -->

{% block page %}
  <div class="min-vh-100 d-flex flex-column bg-info" x-data="mydata">
    <main class="d-flex flex-grow-1 w-100 flex-column" x-ref="desktop">
      <!-- Desktop background -->
      <section class="d-flex bg-secondary w-100">

        <!-- Challenges pane -->
        <div class="card pane" x-ref="paneChallenges">
          <div class="card-header d-flex flex-row justify-content-between user-select-none align-items-center" x-ref="paneChallengesHandle">
            <span>Challenges</span>
            <div class="d-flex flex-row">
              <div class="pane-control-icon" x-ref="minimize">
                <img src="/themes/uiuctf-2023-ctfd-theme/static/img/win95-pane-control/minimize.png" alt="">
                <img src="/themes/uiuctf-2023-ctfd-theme/static/img/win95-pane-control/minimize_pressed.png" alt="">
              </div>
              <span x-ref="maximize-restore-group">
                <div class="pane-control-icon" x-ref="maximize">
                  <img src="/themes/uiuctf-2023-ctfd-theme/static/img/win95-pane-control/maximize.png" alt="">
                  <img src="/themes/uiuctf-2023-ctfd-theme/static/img/win95-pane-control/maximize_pressed.png" alt="">
                </div>
                <div class="pane-control-icon" x-ref="restore">
                  <img src="/themes/uiuctf-2023-ctfd-theme/static/img/win95-pane-control/restore.png" alt="">
                  <img src="/themes/uiuctf-2023-ctfd-theme/static/img/win95-pane-control/restore_pressed.png" alt="">
                </div>
              </span>
              <div class="pane-control-icon close-icon" x-ref="close">
                <img src="/themes/uiuctf-2023-ctfd-theme/static/img/win95-pane-control/close.png" alt="">
                <img src="/themes/uiuctf-2023-ctfd-theme/static/img/win95-pane-control/close_pressed.png" alt="">
              </div>
            </div>
          </div>
          <div class="card-body">
            <span>Current things to do:</span>
            <ul>
              <li>
                When restoring from maximized state, transform state is lost (and the pane
                starts in the top left corner).
              </li>
              <li>
                No way to restore from minimized or closed state yet (add taskbar functionality).
                For now, clear localStorage to reset.
              </li>
              <li>
                Once open/unminimize functionality is added, change all panes to start closed/minimized
                to prevent flash of initial state to restored render state.
              </li>
              <li>
                You can still drag the handle/target pane when holding down any of the control buttons.
                Double click to maximize/restore also happens when clicking on the control buttons.
                <br />
                <br />
                Possible solutions: event handler to prevent "bubbling" of events to parent, or remove
                control buttons from the handle somehow (but visually keep them in the same place).
              </li>
              <li>
                Nice to have: stagger where panes initially open, so they all don't just start at (0, 0).
              </li>
              <li>
                Nice to have: actually implement "open/closed" state, instead of just being an alias for minimizing.
                This may involve shenanigans like removing the pane from the DOM when closed.
              </li>
            </ul>
            <span>Test buttons not on handle:</span>
            <div class="d-flex flex-row">
              <div class="pane-control-icon" x-ref="minimize">
                <img src="/themes/uiuctf-2023-ctfd-theme/static/img/win95-pane-control/minimize.png" alt="">
                <img src="/themes/uiuctf-2023-ctfd-theme/static/img/win95-pane-control/minimize_pressed.png" alt="">
              </div>
              <span x-ref="maximize-restore-group">
                <div class="pane-control-icon" x-ref="maximize">
                  <img src="/themes/uiuctf-2023-ctfd-theme/static/img/win95-pane-control/maximize.png" alt="">
                  <img src="/themes/uiuctf-2023-ctfd-theme/static/img/win95-pane-control/maximize_pressed.png" alt="">
                </div>
                <div class="pane-control-icon" x-ref="restore">
                  <img src="/themes/uiuctf-2023-ctfd-theme/static/img/win95-pane-control/restore.png" alt="">
                  <img src="/themes/uiuctf-2023-ctfd-theme/static/img/win95-pane-control/restore_pressed.png" alt="">
                </div>
              </span>
              <div class="pane-control-icon close-icon" x-ref="close">
                <img src="/themes/uiuctf-2023-ctfd-theme/static/img/win95-pane-control/close.png" alt="">
                <img src="/themes/uiuctf-2023-ctfd-theme/static/img/win95-pane-control/close_pressed.png" alt="">
              </div>
            </div>
          </div>
        </div>

        <!-- Scoreboard pane -->
        <div x-ref="paneScoreboard" class="card pane">
          <div x-ref="paneScoreboardHandle" class="card-header d-flex flex-row justify-content-between user-select-none align-items-center">
            <span>Scoreboard</span>
            <div class="d-flex flex-row">
              <div class="pane-control-icon" x-ref="minimize">
                <img src="/themes/uiuctf-2023-ctfd-theme/static/img/win95-pane-control/minimize.png" alt="">
                <img src="/themes/uiuctf-2023-ctfd-theme/static/img/win95-pane-control/minimize_pressed.png" alt="">
              </div>
              <span x-ref="maximize-restore-group">
                <div class="pane-control-icon" x-ref="maximize">
                  <img src="/themes/uiuctf-2023-ctfd-theme/static/img/win95-pane-control/maximize.png" alt="">
                  <img src="/themes/uiuctf-2023-ctfd-theme/static/img/win95-pane-control/maximize_pressed.png" alt="">
                </div>
                <div class="pane-control-icon" x-ref="restore">
                  <img src="/themes/uiuctf-2023-ctfd-theme/static/img/win95-pane-control/restore.png" alt="">
                  <img src="/themes/uiuctf-2023-ctfd-theme/static/img/win95-pane-control/restore_pressed.png" alt="">
                </div>
              </span>
              <div class="pane-control-icon close-icon" x-ref="close">
                <img src="/themes/uiuctf-2023-ctfd-theme/static/img/win95-pane-control/close.png" alt="">
                <img src="/themes/uiuctf-2023-ctfd-theme/static/img/win95-pane-control/close_pressed.png" alt="">
              </div>
            </div>
          </div>
          <div class="card-body">
            <span>Test</span>
          </div>
        </div>

      </section>
    </main>

    <!-- Taskbar -->
    <footer class="d-flex position-relative">
      <div class="start-menu">
        <p>Hi</p>
      </div>

      <nav class="navbar navbar-main navbar-expand-lg navbar-dark justify-content-between navbar-footer">
        <ul class="navbar-nav navbar-nav-hover flex-row">
          <li class="nav-item">
            <a href="index.html" class="nav-link" role="button">
              <span class="nav-link-inner-text">📺 Start</span>
            </a>
          </li>
          <li id="start-nav_challenges" class="nav-item">
            <a class="nav-link" role="button" x-on:click="setMinimized('challenges', false)">
              <span class="nav-link-inner-text" >🔐 Challenges</span>
            </a>
          </li>
          <li id="start-nav_scoreboard" class="nav-item">
            <a class="nav-link" role="button" x-on:click="setMinimized('scoreboard', false)">
              <span class="nav-link-inner-text">📈 Scoreboard</span>
            </a>
          </li>
          <li id="start-nav_info" class="nav-item">
            <a href="#" class="nav-link" role="button">
              <span class="nav-link-inner-text">ℹ️ Info</span>
            </a>
          </li>
          <li id="start-nav_account" class="nav-item">
            <a href="#" class="nav-link" role="button">
              <span class="nav-link-inner-text">My Account</span>
            </a>
          </li>
        </ul>
        <div class="time text-center">9:12 pm</div>
      </nav>
    </footer>
  </div>
{% endblock %}

{% block scripts %}
  {{ Assets.js("assets/js/challenges.js") }}
{% endblock %}
